// text classes
.text-bold{
  font-weight: $fontBold;
}
.text-center{
  text-align: center;
}

// position fixed
.fixed-to-top{
  position: fixed;
  z-index: 99;
  top: 0;
}

// class flexbox{
.flex-container{
  display: flex;
}
.align-items-center{
  align-items: center;
}
.justify-content-sb{
  justify-content: space-between;
}
.justify-flex-end{
  justify-content: flex-end;
}
.border-right{
  border-right: 1px solid $lightGrey;
}
.color-red{
  color: $red;
}
